

/* @group layout 
 * Reference:CSS Mastery Advanced Web Standards Solutions Second Edition;
 */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 62.5%/1.6 "Microsoft Yahei","Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
  background-color:#F8F8F8;
}
h1 {
  font-size: 2.4em;
  font-weight: normal;
}

h2 {
  font-size: 2.0em;
  font-weight: normal;
}

p, li {
  font-size: 1.4em;
}

h1, h2, p {
  margin: 1em 0;
}

a {
  text-decoration:none;
  color:#337AB7;
}
a:hover {
  text-decoration: underline;
}
.nav-first{
  font-weight: 700;
}

/* 
 * 两列布局
 */
.two-col-wrapper-liquid{
  background: #FFF ;
}
.two-col-header-liquid{
  height: 5em;
  background-color: #E7E7E7;
  padding: 20px;
  margin-top: 20px;
}
.two-col-nav-liquid {
  list-style: none;
  padding: 0 20px 20px 20px;
}
.two-col-content-liquid .two-col-secondary-liquid .two-col-promo-liquid {
  padding-left: 20px;
}

footer.two-col-footer-liquid {
  background-color:#E7E7E7;
  padding: 1px 20px;
  text-align: center;
  clear:both;
}
.two-col-wrapper-liquid{
  width: 76.8%;
  margin: 0 auto;
  text-align: left;

}
.two-col-inner-wrapper-liquid{
  
}
.two-col-content-liquid{
  overflow: hidden;
}
.two-col-content-liquid .two-col-primary-liquid { 
  width: 72.82%;
  float: right;
  padding-right: 20px;
}

.two-col-content-liquid .two-col-secondary-liquid { 
  width: 22%;
  float: left; 
  border-right: 1px solid #CCC;
  margin-top:20px;
} 